@model dynamic

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>Sequencing.Genomics</title>
    </head>
    <body>
        <h1>Welcome to Sequencing.Genomics tool</h1>
        <div>
              @Html.ActionLink("BAM slicer utility", "BamHome")
        </div>
    </body>
</html>